body {
  background-color: #206F9C;
  color: #fff;
}

h1 {
  text-align: center;
}

p {
  font-size: 40px;
  line-height: 1;
  min-height: 40px;
}

#parsed {
  color: #f09233;
}

.char {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.code {
  height: 20px;
  background-color: #24394e;
  margin: 10px;
}

.code.dot {
  width: 20px;
  border-radius: 20px;
}

.code.dash {
  width: 80px;
}
