#code_logs {
}

.char {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.code {
  height: 20px;
  background-color: #000;
  margin: 10px;
}

.code.dot {
  width: 20px;
  border-radius: 20px;
}

.code.dash {
  width: 80px;
}
